.container {
	padding-right: 0px;
	padding-left: 0px;
}
span.show{
	display: inline !important;
}
table.manage-entities-table th:first-child, td:first-child{
    width: 3%;
}
table.predefined-table th:first-child, td:first-child{
	width: 6%;
}
.visitlist{
    color: #222;
}
.visitlist select{
    min-width:0px;
    display:inline-block;
    padding: 0px;
}
.visitlist .pagination-options{
    margin: -20px 0px 0px 10px;
    line-height: 20px;
}
fieldset.visitTask{
    min-width: 100%;
    margin: 0 0px;
    border: 0px;
    padding: 0px;
}
#patientTasksTab{
    border: 0px;
}
#predefinedTaskTab{
    border: 0px;
}
.col-sm-1-margin{
    margin: 5px;
}
.col-sm-2-margin{
    margin-left: -8%;
}
.col-sm-4-margin{
	margin: 0 0 0 -36px;
}
.col-dd-margin{
	margin-left: -4%;
}
.col-creator-margin{
	margin-left: -9%;
}
.col-closed-margin{
	margin-left: -10%;
}
.col-removed-margin{
	margin-left: -12%;
}
.col-include-closed-tasks-margin{
	margin-left: -4%;
}
.col-save-margin{
	margin-left: 12%;
}
.no-tasks{
    margin: 150px;
}
.plus-on{
	position:relative;
	left: 726px;
	top: -33px;
	cursor: pointer;
}
.row{
	font-size: 12px;
}
.btn-align{
	margin: 5px 13px 0px 0px;
}
.dropdown-width{
	width: 288px;
}
p.wrap{
	word-wrap: break-word;
	white-space: initial;
}
ul.overflow{
	overflow: auto;
}
ul.overflow-height{
	height: 1000%;
}
li.no-height{
	height: initial;
}
.trash{
	width:200px;
	height: 200px;
}
.caret-color{
	color: #337ab7;
}
